<div class="container">
<div class="col-md-12">
    <h1> <%= @job.title %> </h1>
    <p>
      <%= simple_format(@job.description) %>
    </p>
    <div>
      <span class="label label-info">
        发布时间
         <%= @job.created_at %>
      </span>
        <div class="pull-right">
        </div>
      </div>


    <hr>
    <div class="text-center">
      <%= link_to("投交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
    </div>
    <div>
        <h1>Revolution has begun!</h1>
        <p>'I am bound to Tahiti for more men.'
            'Very good. Let me board you a moment—I come in peace.' With that he leaped from the canoe, swam to the boat; and climbing the gunwale, stood face to face with the captain.
            'Cross your arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt leaves me, I swear to beach this boat on yonder island, and remain there six days. If I do not, may lightning strike me!'A pretty scholar,' laughed the Lakeman. 'Adios, Senor!' and leaping into the sea, he swam back to his comrades.</p>
        <div>
            <span class="badge">Posted 2012-08-02 20:47:04</span><div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span></div>
        </div>
        <hr>
    </div>
</div>
