<!-- <h1> Hello World! </h1> -->
<div class="jumbotron">
  <h1 class="title" style="color:#EF6C00">让你离梦想更近一步！</h1>
  <p class="slogan" style="color:#212121">专注于全栈工程师人才精准招聘。
  <br>
  1次投递，让海量机会来找你！
  <br>
  为你提供了不起的工作！
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上启程</a></p>
</div>


<div class="pageone">

  <section class="phases">
   <div class = "container-fluid">
     <!-- <div class="text-center"><h3>我们可以为你提供什么？</span></h3> -->
     <div class="row">
       <div class="col-sm-6 ">
         <div class="thumbnail">
           <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fbrz68co16j30xy0faq8b.jpg" class="img-rounded" alt="Cinque Terre" width="1000" height="1000">
         </div>
         <div class="text-center">
           <h2 style="color:#FFA000">海量机会</h2>
           <div class="right-module plate-recommend"  style="color:#757575">
           <h4> 年薪20W起！每周300+ A轮以上最具前景互联网企业发布最新需求！</h4>
         </div>
         </div>
       </div>
       <div class="col-sm-6 ">
         <div class="thumbnail">
           <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fbrz4gcgwgj30xy0fadkb.jpg" class="img-rounded" alt="Cinque Terre" width="1000" height="1000">
         </div>
         <div class="text-center">
           <h2 style="color:#FFA000">人脉内推</h2>
           <div class="right-module plate-recommend" style="color:#757575">
            <h4>基于岗位全网最新简历信息，智能挖掘企业与候选人的人脉关系链，一键邀请员工进行内部推荐！</h4>
          </div>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="col-sm-6 ">
         <div class="thumbnail">
           <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fbrzbh9yo1j30xy0fa0yv.jpg" class="img-rounded" alt="Cinque Terre" width="1000" height="1000">
         </div>
         <div class="text-center">
           <div class="right-module plate-recommend">
           <h2 style="color:#FFA000">人才库</h2>
         </div>
          <div class="right-module plate-recommend" style="color:#757575">
                <div class="reward-title first">
                   <h4>基于独创的简历算法，帮助企业把历史简历信息全网更新，并基于岗位智能推荐！</h4>
                </div>
            </div>
         </div>
       </div>
       <div class="col-sm-6 ">
         <div class="thumbnail">
           <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fbrz2h5u21j30xy0faq8b.jpg" class="img-rounded" alt="Cinque Terre" width="1000" height="1000">
         </div>
         <div class="text-center">
           <h2 style="color:#FFA000">个性化推荐</h2>
           <div class="right-module plate-recommend " style="color:#757575">
           <h4 >基于大数据挖掘企业岗位用人偏好，个性化推荐最适合候选人，让HR找人省时省心！</h4>
         </div>
         </div>
       </div>
     </div>
   </div>
  </section>
</div>
</div>
